:root {
    /* --gradient-background: linear-gradient(#0d1f41, #0c172c); */
    --background: #0c172c;
}

.txt-yellow {
    color: #FFCC00;
}

.txt-white {
    color: #ffffff;
}

.txt-blue {
    color: #002366;
}

.txt-light-grey {
    color: #575f66;
}

.txt-medium-white {
    color: #F7F7F7;
}

/* Background colors */

.bg-yellow {
    background-color: #FFCC00;
}